
/* .scrollbar {

} */

/* start: Slider */
.wrapper {
    position: relative;
    max-width: 940px;
    width: 100%;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    background-color: rgba(255, 255, 255, 0.579);
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
}
.arrow:hover {
    background-color: #64ffdb69;
}
.arrow.prev {
    left: 0;
}
.arrow.next {
    right: 0;
}
.card-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 280px;
    overflow-x: auto;
    padding: 24px;
    gap: 24px;
    cursor: grab;
    scroll-snap-type: x;
    scroll-padding-inline: 24px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.card-wrapper::-webkit-scrollbar {
    display: none;
}
.card-wrapper.grab {
    cursor: grabbing;
    user-select: none;
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.card-item {
    scroll-snap-align: start;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 8px 8px 24px rgba(255, 255, 255, 0.232);
    background-color: rgb(27, 27, 27);
}
.card-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card-info {
    padding: 16px;
}
.card-title {
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    color: #64ffda;
}
.card-title:hover {
    color: #70f3bc5f;
}
.card-description {
    color: #8892b0;
}
/* end: Slider */



@media screen and (max-width: 575px) {
    .arrow {
        display: none;
    }
    .card-wrapper {
        margin-left: -16px;
        width: 100vw;
    }
}