
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    background-color: #0a192f;
    color: #8892b0;
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    font-size: 20px;
    line-height: 1.3;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.bio {
    text-align: center;
}

hr {
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    margin-top: 10;
}

img.logo {
    width: 250px;
    height: 250px;
    border-radius: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 24px rgb(0, 0, 0, 0.7);
}

h1.name {
    text-transform: full-width;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

span.slogan {
    display: block;
    text-align: center;
    text-transform: full-width;
    font-size: 18px;
    color: black;
    margin-bottom: 35px;
}
.social-img ul {
    margin: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}
.social-img ul li {
    display: inline;
    background: rgb(227, 227, 227);
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 150ms ease-in-out;
}
.social-img ul li:hover {
    background: rgb(58, 58, 58);
}

h5 {
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: 0px;
    text-shadow: 1.5px;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 80px;
    margin-bottom: 0px;
    text-transform: capitalize;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-size: 1.9rem;
    margin-top: 80px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.work {
    margin-bottom: 20px;
    text-align: center;
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.858);
}

.work01 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.work02 {
    margin-bottom: 20px;
    text-align: center;
    width: 133%;
    height: 133%;
}

.work03 {
    margin-bottom: 20px;
    text-align: center;
    width: 109.7%;
    height: 109.7%;
}

/* a {
} */